{% extends 'base.html' %}
{% block title %}Add Stock{% endblock %}

{% block content %}
    <h2>Add Stock...</h2>
    <br>
    <form class="d-flex" action="{% url "add_stock" %}" method="POST">
          {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Add ticker to portfolio" aria-label="Search" name="ticker" required>
        <button class="btn btn-outline-secondary" type="submit">Add Stock</button>
      </form>
    <br>
    <table class="table table-striped table-hover table-bordered">
      <thead class="table-dark">
        <tr>
            <th scope="col">Company Name</th>
            <th scope="col">Stock Price</th>
            <th scope="col">Previous Close</th>
            <th scope="col">Market Cap</th>
            <th scope="col">YTD Change</th>
            <th scope="col">52Wk High</th>
            <th scope="col">52Wk Low</th>
        </tr>
      </thead>
      <tbody>
      {% if stocks %}
          {% for list_item in output %}
              <tr>
              <th scope="row">{{ list_item.companyName }}</th>
                  <td>${{ list_item.latestPrice }}</td>
                  <td>${{ list_item.previousClose }}</td>
                  <td>${{ list_item.marketCap }}</td>
                  <td>{{ list_item.ytdChange }}%</td>
                  <td>${{ list_item.week52High }}</td>
                  <td>${{ list_item.week52Low }}</td>
              </tr>
          {% endfor %}
      {% endif %}
      </tbody>
    </table>
{% endblock %}