{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}

    {% if ticker %}
        {{ ticker }}
    {% endif %}

    {% if api %}
        {% if api == "Error" %}
            Something is not configured well please try again
        {% else %}
           <h1>{{ api.companyName }}</h1> <br>

            Price: ${{ api.latestPrice }}<br>
            Previous Close: {{ api.previousClose }}<br>
            Market Cap: {{ api.marketCap }}<br>
            ytdChange: {{ api.ytdChange }}<br>
            52Wk High: {{ api.week52High }}<br>
            52Wk Low: {{ api.week52Low }}<br>
        {% endif %}
    {% endif %}
{% endblock %}